In [49]:
import pandas as pd
import numpy as np

In [50]:
data = pd.read_csv("http://meusite.mackenzie.br/rogerio/data_load/insurance.csv")
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [51]:
# Qual o número de caso de seguro? 
print(f"Qual o número de caso de seguro?\n")

casos_de_seguros = data.shape[0]

print(f"O número de casos de seguro é: {casos_de_seguros}")

Qual o número de caso de seguro?

O número de casos de seguro é: 1338

In [52]:
# Qual a quantidade de casos na região northeast?
print(f"Qual a quantidade de casos na região northeast?\n")

qtd_casos_regiao = data.query("region == 'northeast'")['region'].count()

print(f"A quantidade de casos por região é igual a {qtd_casos_regiao}")

Qual a quantidade de casos na região northeast?

A quantidade de casos por região é igual a 324

In [53]:
# Qual a média dos pagamentos (charges) efetuados?
print(f"Qual a média dos pagamentos (charges) efetuados?\n")

media_pgto_efetuado = data['charges'].mean()

print(f"A média dos pagamentos efetuados é {round(media_pgto_efetuado,2)}")

Qual a média dos pagamentos (charges) efetuados?

A média dos pagamentos efetuados é 13270.42

In [54]:
# Qual a média dos pagamentos (charges) dos 10 maiores pagamentos efetuados?
print(f"Qual a média dos pagamentos (charges) dos 10 maiores pagamentos efetuados?\n")

top_dez_media_pgto_efetuado = data.nlargest(10, 'charges')['charges'].mean()

print(f"A média dos dez maiores pagamentos efetuados é {round(top_dez_media_pgto_efetuado,2)}")

Qual a média dos pagamentos (charges) dos 10 maiores pagamentos efetuados?

A média dos dez maiores pagamentos efetuados é 55130.96

In [61]:
# Calcule a distância interquartis dos pagamentos:
print(f"Calcule a distância interquartis dos pagamentos:\n")

q3 = np.quantile(data['charges'], 0.75)
q1 = np.quantile(data['charges'], 0.25)
distancia_interquartis = q3 - q1

print(f"A distância interquartis (AIQ = Q3 - Q1) é {round(distancia_interquartis,2)}")

Calcule a distância interquartis dos pagamentos:

A distância interquartis (AIQ = Q3 - Q1) é 11899.63

In [72]:
# Existem *outliers* dos pagamentos?
print("Existem *outliers* dos pagamentos?\n")

outlier_superior = q3 + (1.5 * distancia_interquartis)
outlier_inferior = q1 - (1.5 * distancia_interquartis)
outliers = data[(data['charges'] <= outlier_inferior) & (data['charges'] >= outlier_superior)]

print(f"Referência para o outlier superior é {outlier_superior}")
print(f"Verificando a ocorrência de outliers superiores com o uso da referência: {bool(len(data.query('charges >= 34489.350562499996').head(1)))}\n")
print(f"Referência para o Outlier inferior é {outlier_inferior}")
print(f"Verificando a ocorrência de outliers superiores com o uso da referência: {bool(len(data.query('charges <= -13109.1508975').head(1)))}")

Existem *outliers* dos pagamentos?

Referência para o outlier superior é 34489.350562499996
Verificando a ocorrência de outliers superiores com o uso da referência: True

Referência para o Outlier inferior é -13109.1508975
Verificando a ocorrência de outliers superiores com o uso da referência: False

In [74]:
# Qual a média dos pagamentos efetuados para os 10 casos com menor idade dos segurados?
print(f"Qual a média dos pagamentos efetuados para os 10 casos com menor idade dos segurados?\n")

top_dez_menores_pagamentos_mais_jovens = data.nsmallest(10, 'age')['charges'].mean()

print(f"A média dos dez pagamentos efetuados pelos dez mais jovens do grupo é {round(top_dez_menores_pagamentos_mais_jovens,2)}")

Qual a média dos pagamentos efetuados para os 10 casos com menor idade dos segurados?

A média dos dez pagamentos efetuados pelos dez mais jovens do grupo é 11968.65

In [75]:
# De fato, empregando somente a função nsmallest() calculamos corretamente a média de *todos* os seguros de indivíduos com idade entre as 10 menores idades?
print(f"De fato, empregando somente a função nsmallest() calculamos corretamente a média de *todos* os seguros de indivíduos com idade entre as 10 menores idades?\n")

num_individuos = data.query('age == 18')

print(f"Não, nesse caso a função nsmallest() está capturando apenas 10 casos, entretanto, temos {num_individuos.count()[0]} registros de clientes com 18 anos.")

De fato, empregando somente a função nsmallest() calculamos corretamente a média de *todos* os seguros de indivíduos com idade entre as 10 menores idades?

Não, nesse caso a função nsmallest() está capturando apenas 10 casos, entretanto, temos 69 registros de clientes com 18 anos.