In [120]:
import pandas as pd

In [121]:
tips = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/tips.csv')
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [122]:
# Considere nossa base exemplo Tips. Considerando somente os finais de semana, quem tem média de participantes na mesa maior, fumantes ou não fumantes?
print("Considere nossa base exemplo Tips. Considerando somente os finais de semana, quem tem média de participantes na mesa maior, fumantes ou não fumantes?\n")

media_fumantes_final_semana = tips.query("(day == 'Sun' or day == 'Mon') and (smoker == 'Yes')")['size'].mean()
media_nao_fumantes_final_semana = tips.query("(day == 'Sun' or day == 'Mon') and (smoker == 'No')")['size'].mean()

print(f"Média de fumantes por mesa nos finais de semana: {round(media_fumantes_final_semana,2)}")
print(f"Média de não fumantes por mesa nos finais de semana: {round(media_nao_fumantes_final_semana,2)}")

Considere nossa base exemplo Tips. Considerando somente os finais de semana, quem tem média de participantes na mesa maior, fumantes ou não fumantes?

Média de fumantes por mesa nos finais de semana: 2.58
Média de não fumantes por mesa nos finais de semana: 2.93

In [123]:
insurance = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/insurance.csv')
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [124]:
# Qual percentual de homens e mulheres assegurados na base?
print("Qual percentual de homens e mulheres assegurados na base?\n")

numero_de_registros = insurance['sex'].count()
numero_de_homens = insurance.query("sex == 'male'").count()
numero_de_mulheres = insurance.query("sex == 'female'").count()
percentual_de_homens = numero_de_homens / numero_de_registros
percentual_de_mulheres = numero_de_mulheres / numero_de_registros

print(f"Percentual de homens assegurados na base: {round(percentual_de_homens[0],2)}")
print(f"Percentual de mulheres asseguradas na base: {round(percentual_de_mulheres[0],2)}")

Qual percentual de homens e mulheres assegurados na base?

Percentual de homens assegurados na base: 0.51
Percentual de mulheres asseguradas na base: 0.49

In [135]:
# Qual o total dos valores de seguro pago por homens e mulheres segurados na base?
print("Qual o total dos valores de seguro pago por homens e mulheres segurados na base?\n")

valor_total_seguros_homens = insurance.query("sex == 'male'")['charges'].sum()
valor_total_seguros_mulheres = insurance.query("sex == 'female'")['charges'].sum()

print(f"Valor total dos seguros realizados por homens: {round(valor_total_seguros_homens,2)}")
print(f"Valor total dos seguros realizados por mulheres: {round(valor_total_seguros_mulheres,2)}")

Qual o total dos valores de seguro pago por homens e mulheres segurados na base?

Valor total dos seguros realizados por homens: 9434763.8
Valor total dos seguros realizados por mulheres: 8321061.19

In [137]:
# Qual o percentual de valor de seguros pagos por homens e mulheres segurados na base?
print("Qual o percentual de valor de seguros pagos por homens e mulheres segurados na base?\n")

valor_total_seguros = insurance['charges'].sum()
percentual_valor_seguros_homens = valor_total_seguros_homens / valor_total_seguros
percentual_valor_seguros_mulheres = valor_total_seguros_mulheres / valor_total_seguros

print(f"Percentual de valor de seguros pagos por homens: {round(percentual_valor_seguros_homens,2)}")
print(f"Percentual de valor de seguros pagos por mulheres: {round(percentual_valor_seguros_mulheres,2)}")

Qual o percentual de valor de seguros pagos por homens e mulheres segurados na base?

Percentual de valor de seguros pagos por homens: 0.53
Percentual de valor de seguros pagos por mulheres: 0.47

In [127]:
# Não fumantes apresentam em média mais filhos?
print("Não fumantes apresentam em média mais filhos?")

media_filhos_pessoas_fumantes = insurance.query("smoker == 'yes'")['children'].mean()
media_filhos_pessoas_nao_fumantes = insurance.query("smoker == 'no'")['children'].mean()

print(f"Número médio de filhos de pessoas fumantes {round(media_filhos_pessoas_fumantes,2)}")
print(f"Número médio de filhos de pessoas não fumantes {round(media_filhos_pessoas_nao_fumantes,2)}")

Não fumantes apresentam em média mais filhos?
Número médio de filhos de pessoas fumantes 1.11
Número médio de filhos de pessoas não fumantes 1.09

In [128]:
# Qual a média e maior de idade dentre os segurados homens, das regiões northwest ou northeast?
print("Qual a média e maior de idade dentre os segurados homens, das regiões northwest ou northeast?\n")

media_idade_homens_northwest_northeast = insurance.query("sex == 'male' and (region == 'northwest' or region == 'northeast')")['age'].mean()
maior_idade_homens_northwest_northeast = insurance.query("sex == 'male' and (region == 'northwest' or region == 'northeast')")['age'].max()

print(f"Idade média dos homens de northwest ou northeast: {round(media_idade_homens_northwest_northeast,2)}")
print(f"Idade máxima dos homens de northwest ou northeast: {round(maior_idade_homens_northwest_northeast,2)}")

Qual a média e maior de idade dentre os segurados homens, das regiões northwest ou northeast?

Idade média dos homens de northwest ou northeast: 38.85
Idade máxima dos homens de northwest ou northeast: 64

In [129]:
energy = pd.read_csv('https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-08-04/energy_types.csv') 
energy.head()

,country,country_name,type,level,2016,2017,2018
0,BE,Belgium,Conventional thermal,Level 1,30728.0,31316.0,30092.635
1,BE,Belgium,Nuclear,Level 1,41430.0,40128.5,26995.628
2,BE,Belgium,Hydro,Level 1,1476.0,1360.9,1239.248
3,BE,Belgium,Pumped hydro power,Level 2,1110.0,1093.2,983.190
4,BE,Belgium,Wind,Level 1,5340.0,6387.9,7177.346

In [130]:
# Quantos tipos de energia e países diferentes há na base?
print("Quantos tipos de energia e países diferentes há na base?\n")

numero_tipos_energia_diferentes = len(energy['type'].unique())
numero_paises_diferentes = len(energy['country'].unique())

print(f"Número de tipos de energia diferentes: {numero_tipos_energia_diferentes}")
print(f"Número de países diferentes: {numero_paises_diferentes}")

Quantos tipos de energia e países diferentes há na base?

Número de tipos de energia diferentes: 8
Número de países diferentes: 37

In [139]:
# Qual o percentual de energia nuclear produzido na Europa no ano de 2018?
print("Qual o percentual de energia nuclear produzido na Europa no ano de 2018?\n")

total_energia_europa_2018 = energy['2018'].sum()
total_energia_nuclear_europa_2018 = energy.query("type == 'Nuclear'")['2018'].sum()
percentual_energia_nuclear_europa_2018 = total_energia_nuclear_europa_2018 / total_energia_europa_2018

print(f"Energia total produzida na Europa em 2018: {round(total_energia_europa_2018,2)}")
print(f"Energia núclear total produzida na Europa em 2018: {round(total_energia_nuclear_europa_2018,2)}")
print(f"Percentual de energia núclear produzida na Europa em 2018: {round(percentual_energia_nuclear_europa_2018,2)}")

Qual o percentual de energia nuclear produzido na Europa no ano de 2018?

Energia total produzida na Europa em 2018: 3787674.63
Energia núclear total produzida na Europa em 2018: 868333.98
Percentual de energia núclear produzida na Europa em 2018: 0.23

In [132]:
# Qual o percentual de energia nuclear produzido na França no ano de 2018?
print("Qual o percentual de energia nuclear produzido na França no ano de 2018?\n")

total_energia_franca_2018 = energy.query("country_name == 'France'")['2018'].sum()
total_energia_nuclear_franca_2018 = energy.query("type == 'Nuclear' and country_name == 'France'")['2018'].sum()
percentual_energia_nuclear_franca_2018 = total_energia_nuclear_franca_2018 / total_energia_franca_2018

print(f"Energia total produzida na França em 2018: {round(total_energia_franca_2018,2)}")
print(f"Energia núclear total produzida na França em 2018: {round(total_energia_nuclear_franca_2018,2)}")
print(f"Percentual de energia núclear produzida na França em 2018: {round(percentual_energia_nuclear_franca_2018,2)}")

Qual o percentual de energia nuclear produzido na França no ano de 2018?

Energia total produzida na França em 2018: 560767.87
Energia núclear total produzida na França em 2018: 393153.25
Percentual de energia núclear produzida na França em 2018: 0.7

In [133]:
# Qual o percentual de energias limpas produzida na Europa no ano de 2018?
print("Qual o percentual de energias limpas produzida na Europa no ano de 2018?\n")

total_energia_europa_2018 = energy['2018'].sum()
total_energia_limpa_europa_2018 = energy.query("type == 'Hydro' or type == 'Wind' or type == 'Solar' or type == 'Geothermal'")['2018'].sum()
percentual_energia_limpa_europa_2018 = total_energia_limpa_europa_2018 / total_energia_europa_2018

print(f"Energia total produzida na Europa em 2018: {round(total_energia_europa_2018,2)}")
print(f"Energia limpa total produzida na Europa em 2018: {round(total_energia_limpa_europa_2018,2)}")
print(f"Percentual de energia limpa produzida na Europa em 2018: {round(percentual_energia_limpa_europa_2018,2)}")

Qual o percentual de energias limpas produzida na Europa no ano de 2018?

Energia total produzida na Europa em 2018: 3787674.63
Energia limpa total produzida na Europa em 2018: 1156738.16
Percentual de energia limpa produzida na Europa em 2018: 0.31

In [134]:
# Considerando os anos de 2016, 2017 e 2018, a produção de energias limpas tem aumentado na Europa? Verifique em termos absolutos e percentuais.
print("Considerando os anos de 2016, 2017 e 2018, a produção de energias limpas tem aumentado na Europa? Verifique em termos absolutos e percentuais.\n")

total_energia_europa_2016 = energy['2016'].sum()
total_energia_europa_2017 = energy['2017'].sum()
total_energia_europa_2018 = energy['2018'].sum()

total_energia_limpa_europa_2016 = energy.query("type == 'Hydro' or type == 'Wind' or type == 'Solar' or type == 'Geothermal'")['2016'].sum()
total_energia_limpa_europa_2017 = energy.query("type == 'Hydro' or type == 'Wind' or type == 'Solar' or type == 'Geothermal'")['2017'].sum()
total_energia_limpa_europa_2018 = energy.query("type == 'Hydro' or type == 'Wind' or type == 'Solar' or type == 'Geothermal'")['2018'].sum()

percentual_energia_limpa_europa_2016 = total_energia_limpa_europa_2016 / total_energia_europa_2016
percentual_energia_limpa_europa_2017 = total_energia_limpa_europa_2017 / total_energia_europa_2017
percentual_energia_limpa_europa_2018 = total_energia_limpa_europa_2018 / total_energia_europa_2018

print(f"Energia total produzida na Europa em 2016: {round(total_energia_europa_2016,5)}")
print(f"Energia limpa total produzida na Europa em 2016: {round(total_energia_limpa_europa_2016,5)}")
print(f"Percentual de energia limpa produzida na Europa em 2016: {round(percentual_energia_limpa_europa_2016,5)}\n")

print(f"Energia total produzida na Europa em 2017: {round(total_energia_europa_2017,5)}")
print(f"Energia limpa total produzida na Europa em 2017: {round(total_energia_limpa_europa_2017,5)}")
print(f"Percentual de energia limpa produzida na Europa em 2017: {round(percentual_energia_limpa_europa_2017,5)}\n")

print(f"Energia total produzida na Europa em 2018: {round(total_energia_europa_2018,5)}")
print(f"Energia limpa total produzida na Europa em 2018: {round(total_energia_limpa_europa_2018,5)}")
print(f"Percentual de energia limpa produzida na Europa em 2018: {round(percentual_energia_limpa_europa_2018,5)}\n")

print(total_energia_limpa_europa_2017 > total_energia_limpa_europa_2016 and total_energia_limpa_europa_2018 > total_energia_limpa_europa_2017)
print(percentual_energia_limpa_europa_2017 > percentual_energia_limpa_europa_2016 and percentual_energia_limpa_europa_2018 > percentual_energia_limpa_europa_2017)

Considerando os anos de 2016, 2017 e 2018, a produção de energias limpas tem aumentado na Europa? Verifique em termos absolutos e percentuais.

Energia total produzida na Europa em 2016: 3783874.981
Energia limpa total produzida na Europa em 2016: 1072303.537
Percentual de energia limpa produzida na Europa em 2016: 0.28339

Energia total produzida na Europa em 2017: 3821643.552
Energia limpa total produzida na Europa em 2017: 1077515.942
Percentual de energia limpa produzida na Europa em 2017: 0.28195

Energia total produzida na Europa em 2018: 3787674.63
Energia limpa total produzida na Europa em 2018: 1156738.155
Percentual de energia limpa produzida na Europa em 2018: 0.3054

True
False